# Employee Experience Survey Analysis

## Introduction
This analysis focuses on the Employee Experience Survey data from a fictional nonprofit organization. The goal is to analyze the survey data using both descriptive and inferential statistics to derive meaningful insights.

## Data Loading

In [55]:
import pandas as pd

data = pd.read_csv('employee_experience_survey_data.csv')

## Step 1: Data Overview

In [56]:
data.head()

,Name,Age Bracket,Gender,Ethnicity,Job Title,Department,Date Survey Completed,Job Satisfaction,Work-Life Balance,Management Support,Team Collaboration,Workload Fairness,Career Development Opportunities,Workplace Inclusivity,Company Communication,Compensation Satisfaction,Job Security,Overall Engagement
0,John Doe,25-34,Female,Asian,Product Manager,Product Development,2024-10-05,Disagree,Strongly Agree,Neutral,Neutral,Neutral,Disagree,Agree,Strongly Agree,Strongly Agree,Agree,Strongly Agree
1,Jane Smith,18-24,Female,Middle Eastern,Operations Manager,Sales,2024-10-07,Agree,Strongly Disagree,Strongly Agree,Neutral,Neutral,Disagree,Neutral,Neutral,Neutral,Agree,Neutral
2,Carlos Reyes,45-54,Female,Indian,UX Designer,Consulting,2024-10-08,Neutral,Strongly Disagree,Agree,Disagree,Strongly Agree,Agree,Agree,Strongly Disagree,Neutral,Strongly Agree,Strongly Agree
3,Emily Zhang,35-44,Male,Caucasian,UX Designer,HR,2024-10-07,Neutral,Agree,Agree,Strongly Disagree,Strongly Disagree,Strongly Agree,Agree,Strongly Disagree,Strongly Disagree,Agree,Neutral
4,Michael Johnson,18-24,Female,Caucasian,UX Designer,Product Development,2024-10-07,Agree,Strongly Agree,Disagree,Neutral,Strongly Disagree,Disagree,Disagree,Disagree,Strongly Disagree,Neutral,Disagree

## Step 2: Convert Likert Scale Responses to Numeric Values

In [57]:
# Convert Likert scale responses to numeric values for analysis
likert_scale = {
    'Strongly Disagree': 1,
    'Disagree': 2,
    'Neutral': 3,
    'Agree': 4,
    'Strongly Agree': 5
}

# Apply the mapping to relevant columns
data['Job Satisfaction'] = data['Job Satisfaction'].map(likert_scale)
data['Overall Engagement'] = data['Overall Engagement'].map(likert_scale)

## Step 3: Descriptive Statistics
### Job Satisfaction and Overall Engagement

In [58]:
# Descriptive statistics for Job Satisfaction and Overall Engagement
descriptive_stats = data[['Job Satisfaction', 'Overall Engagement']].describe()

descriptive_stats

       Job Satisfaction  Overall Engagement
count         15.000000           15.000000
mean           3.000000            3.400000
std            1.309307            1.298351
min            1.000000            1.000000
25%            2.000000            2.500000
50%            3.000000            3.000000
75%            4.000000            4.500000
max            5.000000            5.000000

 ## Step 4: Key Trends Analysis
 ### Age Bracket, Department and Satisfaction

In [48]:
# Analyze trends in Job Satisfaction and Overall Engagement based on 

# Group by Age Bracket and Department, then calculate mean for Job Satisfaction and Overall Engagement
grouped_stats = data.groupby(['Age Bracket', 'Department'])[['Job Satisfaction', 'Overall Engagement']].mean()

grouped_stats

                                 Job Satisfaction  Overall Engagement
Age Bracket Department
18-24       Design                            5.0                 1.0
            Finance                           4.0                 5.0
            Product Development               3.0                 3.0
            Sales                             3.0                 4.0
25-34       HR                                5.0                 4.0
            Product Development               2.0                 5.0
            Sales                             2.0                 2.0
35-44       HR                                3.0                 3.0
            IT                                1.0                 2.0
45-54       Consulting                        3.0                 4.0
            Operations                        2.0                 3.0

### Gender and Job Satisfaction`

In [49]:
# Group by Gender and calculate mean for Job Satisfaction and Overall Engagement
gender_stats = data.groupby('Gender')[['Job Satisfaction', 'Overall Engagement']].mean()
print(gender_stats)

        Job Satisfaction  Overall Engagement
Gender
Female          2.777778            3.666667
Male            3.333333            3.000000

### Ethnicity and Job Satisfaction

In [50]:
# Group by Ethnicity and calculate mean for Job Satisfaction and Overall Engagement
ethnicity_stats = data.groupby('Ethnicity')[['Job Satisfaction', 'Overall Engagement']].mean()
print(ethnicity_stats)

                  Job Satisfaction  Overall Engagement
Ethnicity
African American          3.500000            2.500000
Asian                     2.500000            4.000000
Caucasian                 4.000000            3.000000
Hispanic                  4.000000            5.000000
Indian                    1.666667            3.666667
Middle Eastern            3.000000            3.250000

## Step 5: Hypothesis Testing
### Comparison of Job Satisfaction between HR and Sales Departments

In [60]:
# Filter data for HR and Sales departments
hr_job_satisfaction = data[data['Department'] == 'HR']['Job Satisfaction'].dropna()
sales_job_satisfaction = data[data['Department'] == 'Sales']['Job Satisfaction'].dropna()

# Perform an independent t-test
t_stat, p_value = ttest_ind(hr_job_satisfaction, sales_job_satisfaction, equal_var=False)

# Print the results
print("T-statistic:", t_stat)
print("P-value:", p_value)

T-statistic: 1.0
P-value: 0.41402217981507056

### Conclusion: 
Since the p-value is greater than the significance level of 0.05, we fail to reject the null hypothesis. Therefore, we conclude that **there is no statistically significant difference in Job Satisfaction between the HR and Sales departments.** This suggests that employees in both departments report similar levels of job satisfaction.

## Step 6: Correlation Analysis
### Relationship between Work-Life Balance and Overall Engagement

In [61]:
# Define the mapping for Likert scale responses
likert_scale = {
    'Strongly Disagree': 1,
    'Disagree': 2,
    'Neutral': 3,
    'Agree': 4,
    'Strongly Agree': 5
}

# Convert Work-Life Balance to numeric values
data['Work-Life Balance'] = data['Work-Life Balance'].map(likert_scale)

# Calculate the correlation coefficient between Work-Life Balance and Overall Engagement
correlation_coefficient = data['Work-Life Balance'].corr(data['Overall Engagement'])

# Print the correlation coefficient
print("Correlation Coefficient between Work-Life Balance and Overall Engagement:", correlation_coefficient)

Correlation Coefficient between Work-Life Balance and Overall Engagement: -0.361040820409166

### Conclusion:
A moderate **negative correlation** suggests that as work-life balance improves, overall engagement tends to decrease, indicating potential underlying issues.

## Recommendations
1. **Explore Underlying Factors**: Investigate why there is a negative correlation between Work-Life Balance and Overall Engagement.
2. **Targeted Initiatives**: Implement programs to improve both work-life balance and engagement, such as flexible working hours.

## Conclusion
This analysis provides insights into employee satisfaction and engagement across various demographics and departments. Further investigation is recommended to address the issues identified and enhance the overall employee experience.